<section id="about-me">
  <div class=" mb-2">
    <div class="row">
      <div class="col-md-12">
        <span><strong>Acerca de</strong></span>
        <div class="content-about-me mb-4">
          {{informacion?.acerca}}
        </div>
        <div class="accordion accordion-flush" id="accordionF">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button button-custom collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Formación Profesional
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionF">
              <div class="accordion-body">
                <app-education></app-education>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button button-custom collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Experiencia Laboral
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
              data-bs-parent="#accordionF">
              <div class="accordion-body">
                <app-experience></app-experience>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>