.front-page .img-front{
    height: 70vh;
    transform: rotate(180deg);
}
.nav-pills .nav-link.active{
    color: #1976d2;
    border-bottom: 3px solid #1976d2;
    background-color: #ffffff00;
    border-radius: 0;
    
}
.nav-link{
    color: #000;
}