<section id="experiencie">
    <div class="mb-2">
        <div class="row">
            <div class="col-md-12">
                <label for=""> <span><strong>{{proyecto.id ? 'Editar' : 'Nueva'}} proyecto</strong></span></label>
                <div class="border-bottom">
                    <form #f="ngForm" novalidate class="mb-2" (ngSubmit)="save()">
                        <div class="mb-3">
                            <label for="titleFormControlInput1" class="form-label">Titulo</label>
                            <input type="text" type="email" class="form-control" id="titleFormControlInput1" placeholder=""
                                [(ngModel)]="proyecto.titulo" name="titulo">
                        </div>
                        <div class="mb-3">
                            <label for="descriptionFormControlTextarea1" class="form-label">descripción</label>
                            <input type="text" class="form-control" id="descriptionFormControlTextarea1" rows="3"
                                [(ngModel)]="proyecto.descripcion" name="descripcion">
                        </div>
                        <div class="mb-3">
                            <label for="urlGitFormControlTextarea1" class="form-label">URL Git</label>
                            <input type="text" class="form-control" id="urlGitFormControlTextarea1" rows="3"
                                [(ngModel)]="proyecto.url_git" name="urlgit">
                        </div>
                        <div class="mb-3">
                            <label for="urlDemoFormControlTextarea1" class="form-label">URL Demo</label>
                            <input type="text" class="form-control" id="urlDemoFormControlTextarea1" rows="3"
                                [(ngModel)]="proyecto.url_demo" name="urldemo">
                        </div>
                        <div class="mb-3">
                            <label for="urlFrontPageFormControlTextarea1" class="form-label">URL Portada</label>
                            <input type="text" class="form-control" id="urlFrontPageFormControlTextarea1" rows="3"
                                [(ngModel)]="proyecto.url_portada" name="urlportada">
                        </div>
                        <div class="text-end">
                            <button [disabled]="!f.valid"  class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
                <div class="content-experience mt-2">
                    <ul class="p-0">
                        <div class="row">
                            <div *ngFor="let proyecto of proyectos" class="mb-3 d-flex justify-content-between">
                                <div class="col-sm-10">
                                    <div>
                                        <strong>
                                            {{proyecto.titulo}}
                                        </strong>
                                    </div>
                                    <div>
                                        {{proyecto.descripcion}}
                                    </div>
                                </div>
                                <div class="text-end col-sm-2">
                                    <button type="button" class="btn btn-warning m-1"
                                        (click)="edit(proyecto)">Editar</button>
                                    <button type="button" class="btn btn-danger m-1"
                                        (click)="delete(proyecto)">Borrar</button>
                                </div>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>