/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

.image{
    background: url(../src/assets/bg.a3527dd.jpg);
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}